.App {
  text-align: center;
  background-color: black;
  color: lime
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: lime
}

a:hover {
  text-decoration: underline;
}

.story-minimised {
  font-size: 3px;
}

.story-minimised:hover {
  font-size: 14px;
  border-radius: 10px;
}

.stories {
  display:flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.story-container {
  flex-basis: 30rem;
}