body {
    font-family: "Quicksand", sans-serif;
    background-image: url("https://nialltl.neocities.org/clang.jpg");
    background-blend-mode: hue;
    background-attachment:fixed;
}

h1 {
    text-align:center;
    color: white;
    padding: 2rem
}

h2 {
    text-align:center
}

header {
    background-color: rgb(62, 27, 27, 0.9);
    margin: 1rem 20rem;
    padding: 1rem;
    border-radius: 20px

}

#home {
    color: white;
    background-color: rgb(25, 25, 112, 0.9);
    opacity: 0.9;
    padding: 2rem;
    margin: 2rem 15rem;
    border-radius: 20px;
}

#library {
    color: white;
    background-color: rgb(25, 25, 112, 0.8);
    padding: 2rem;
    margin: 2rem 5rem;
    border-radius: 20px;
}

#book_body {
    color: white;
    background-color: rgb(25, 25, 112, 0.8);
    padding: 2rem;
    margin: 2rem 5rem;
    border-radius: 20px;
}

#donate {
    color: white;
    background-color: rgb(25, 25, 112, 0.8);
    padding: 2rem;
    margin: 2rem 5rem;
    border-radius: 20px;
}

form {
    
}


footer {
    color: white;
    background-color: midnightblue;
    margin: 1rem 20rem
}

aside {
    float: right;
    margin: 2rem
}

img {
    width: 236px;
    border-radius: 10px;
}

#librarygrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly
}

ul {
    list-style: none;
}

.grid_item {
    padding: 3rem;
    background-color: black;
}

.grid_item > li{
    background-color: white;
}

a {
    text-decoration: none;
    color: white
}

a:hover {
    text-decoration: underline;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem
}

nav > ul > li > a{
    text-decoration: none
}