body {
    font-family: "Quicksand", sans-serif;
    background-image: url("https://nialltl.neocities.org/clang.jpg");
    background-attachment: scroll;
}

header {
    background-color: rebeccapurple;
    opacity: 0.6;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 2rem;
    color: white;
    border-radius: 20px;
    
}

main {
    background-color: aqua;
    opacity: 0.75;
    margin: 4rem;
    padding: 1rem 4rem 2rem 4rem;
    border-radius: 4rem
}

main > h2 {
    text-align: center;
    font-weight: bold;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color:rebeccapurple;
    opacity: 0.7;
    margin: 1rem 15em 1rem;
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor:pointer
}

.navigationbar > ul {
    list-style: none;
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    color: white
}

.navigationbar > ul > li{
    text-decoration: none;
    color: white
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#donateform {
    text-align: center;
    display: flex;
    justify-content: center;
}
