<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <title>small trans library</title>
</head>
<body>
    <header>  
        <h1><a href="/"></a>small trans library</h1>
        <nav>
            <ul>
                <li><a href="/">home</a></li>  
                <li><a href="/library/">library</a></li> 
                <li><a href="/library/donate/">donate</a></li>   
            </ul>
        </nav>         
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="/">home</a></li>  
                <li><a href="/library/">library</a></li> 
                <li><a href="/library/donate/">donate</a></li>      
            </ul>
        </nav>
    </footer>
</body>

</html>