{% extends 'base.html' %}
{% block content %}
<article id="donate">
    <h2>submit a book to donate</h2>
    <form id="donate_form" action="/library/" method="post">
        <input type="text" placeholder = "name" name="book_name" id="book_name">
        <input type="text" placeholder = "author" name="book_author" id="book_author">
        <input type="text" placeholder="genre" name="book_genre" id="book_genre">
        <input type="submit" value="donate book">
    </form>
</article>
{% endblock %}