{% extends 'base.html' %}
{% block content %}
    <article id="library">
        <h2>library</h2>
        <ul id="librarygrid">
            {% for book in library %}
            <div class="grid-item">
                <li>
                    <a href="/library/{{loop.index0}}"><img src="{{ book.thumbnail_url}}" alt="{{ book.title }} - {{ book.author }}"></a>
                </li>
                <li>
                    checked out:    {% if book.checked_out %}
                        &#9745; 
                        {% else %}       
                    {% endif %}
                </li>
            </div>
            {% endfor %}
        </ul>
    </article>
{% endblock %}